img {
  float: none;
}

footer {
  align-items: center;
}

h6 {
  font-size: 25px;
}

h1 {
  text-align: center;
}

#quote {
  color: black;
  text-align: center;
}

.slant {
  font-style: italic;
}

.panel-default > .panel-heading-custom1 {
  background: #ff7b00; color: #3a3a3a;
}

.panel-default > .panel-body-custom1 {
  background: #ff9a3d; color: #3a3a3a;
}

.panel-default > .panel-heading-custom2 {
  background: #ff352b; color: #3a3a3a;
}

.panel-default > .panel-body-custom2 {
  background: #fc6a62; color: #3a3a3a;
}

.panel-default > .panel-heading-custom3 {
  background: #0fa301; color: #3a3a3a;
}

.panel-default > .panel-body-custom3 {
  background: #81ef77; color: #3a3a3a;
}

.panel-default > .panel-heading-custom4 {
  background: #5588db; color: #3a3a3a;
}

.panel-default > .panel-body-custom4 {
  background: #b0c4e5; color: #3a3a3a;
}
